<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Ohana!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">

    <!--     <link rel="stylesheet" href="vendor/bootstrap.min.css3.3.4"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
        
    <script src="/AgoraRTCSDK-2.3.1.js"></script>
    <!--     <script src="vendor/jquery.js"></script> -->
    <script src="https://code.jquery.com/jquery-2.2.4.js"
      integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
      crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="videoheight position-relative p-3 p-md-5 m-md-3 bg-light">
    <nav class="profile-header sticky-top py-1">
      <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="navbar-brand" href="/">
          <img src="https://cdn.glitch.com/92a8f953-28e3-499d-8444-bd59381e02c8%2Fohana-yellow.png?1529186389288" width="150" alt="Ohana">
        </a>
        <a class="py-2 d-none d-md-inline-block" href="/profile">Profiles</a>
        <a class="py-2 d-none d-md-inline-block" href="/video">Video</a>
      </div>
    </nav>
    <div class="container">
    <h1>Video Chat</h1>
    
    <div id="div_device" class="panel panel-default">
      <div class="select">
        <label for="audioSource">Audio source: </label><select id="audioSource"></select>
      </div>
      <div class="select">
        <label for="videoSource">Video source: </label><select id="videoSource"></select>
      </div>
    </div>

    <div id="div_join" class="panel panel-default">
      <div class="panel-body">
        <!-- Key:  -->
          <input id="key" type="hidden" value="23263a12750046d987a1b21caa81b880" size="36">
        <!-- Channel:  -->
          <input id="channel" type="hidden" value="1000" size="4">
<!--         Host:  -->
          <input id="video" type="hidden" checked>
        <button id="join" class="btn btn-info" onclick="join()">Join</button>
        <button id="leave" class="btn btn-info" onclick="leave()">Leave</button>
<!--         <button id="publish" class="btn btn-info" onclick="publish()">Publish</button>
        <button id="unpublish" class="btn btn-info" onclick="unpublish()">Unpublish</button> -->
      </div>
    </div>

<!--     <div class="video__main">
    </div>
    <div class="video__list">
        <div class="video__item"></div>
        <div id="video" class="video__item">
            <div id="agora_local"></div>
        </div>
    </div> -->
    &nbsp;
    <div id="video" style="margin:0 auto;">
        <div id="agora_local" style="float:right;width:210px;height:147px;display:inline-block;"></div>
    </div>
    </div>
    </div>
    
    <script language="javascript">

    if(!AgoraRTC.checkSystemRequirements()) {
      alert("browser is no support webRTC");
    }

    /* select Log type */
    // AgoraRTC.Logger.setLogLevel(AgoraRTC.Logger.NONE);
    // AgoraRTC.Logger.setLogLevel(AgoraRTC.Logger.ERROR);
    // AgoraRTC.Logger.setLogLevel(AgoraRTC.Logger.WARNING);
    // AgoraRTC.Logger.setLogLevel(AgoraRTC.Logger.INFO);  
    // AgoraRTC.Logger.setLogLevel(AgoraRTC.Logger.DEBUG);

    /* simulated data to proof setLogLevel() */
    // AgoraRTC.Logger.error('this is error');
    // AgoraRTC.Logger.warning('this is warning');
    // AgoraRTC.Logger.info('this is info');
    // AgoraRTC.Logger.debug('this is debug');

    var client, localStream, camera, microphone;

    var audioSelect = document.querySelector('select#audioSource');
    var videoSelect = document.querySelector('select#videoSource');

    function join() {
      document.getElementById("join").disabled = true;
      document.getElementById("video").disabled = true;
      var channel_key = null;

      console.log("Init AgoraRTC client with vendor key: " + key.value);
      client = AgoraRTC.createClient({mode: 'interop'});
      client.init(key.value, function () {
        console.log("AgoraRTC client initialized");
        client.join(channel_key, channel.value, null, function(uid) {
          console.log("User " + uid + " join channel successfully");

          // if (document.getElementById("video").checked) {
            camera = videoSource.value;
            microphone = audioSource.value;
            localStream = AgoraRTC.createStream({streamID: uid, audio: true, cameraId: camera, microphoneId: microphone, video: document.getElementById("video").checked, screen: false});
            //localStream = AgoraRTC.createStream({streamID: uid, audio: false, cameraId: camera, microphoneId: microphone, video: false, screen: true, extensionId: 'minllpmhdgpndnkomcoccfekfegnlikg'});
            if (document.getElementById("video").checked) {
              localStream.setVideoProfile('720p_3');

            }

            // The user has granted access to the camera and mic.
            localStream.on("accessAllowed", function() {
              console.log("accessAllowed");
            });

            // The user has denied access to the camera and mic.
            localStream.on("accessDenied", function() {
              console.log("accessDenied");
            });

            localStream.init(function() {
              console.log("getUserMedia successfully");
              localStream.play('agora_local');

              client.publish(localStream, function (err) {
                console.log("Publish local stream error: " + err);
              });

              client.on('stream-published', function (evt) {
                console.log("Publish local stream successfully");
              });
            }, function (err) {
              console.log("getUserMedia failed", err);
            });
          // }
        }, function(err) {
          console.log("Join channel failed", err);
        });
      }, function (err) {
        console.log("AgoraRTC client init failed", err);
      });

      channelKey = "";
      client.on('error', function(err) {
        console.log("Got error msg:", err.reason);
        if (err.reason === 'DYNAMIC_KEY_TIMEOUT') {
          client.renewChannelKey(channelKey, function(){
            console.log("Renew channel key successfully");
          }, function(err){
            console.log("Renew channel key failed: ", err);
          });
        }
      });


      client.on('stream-added', function (evt) {
        var stream = evt.stream;
        console.log("New stream added: " + stream.getId());
        console.log("Subscribe ", stream);
        client.subscribe(stream, function (err) {
          console.log("Subscribe stream failed", err);
        });
      });

      client.on('stream-subscribed', function (evt) {
        var stream = evt.stream;
        console.log("Subscribe remote stream successfully: " + stream.getId());
        if ($('div#video #agora_remote'+stream.getId()).length === 0) {
          $('div#video').append('<div id="agora_remote'+stream.getId()+'" style="float:left; width:810px;height:607px;display:inline-block;"></div>');
        }
        stream.play('agora_remote' + stream.getId());
      });

      client.on('stream-removed', function (evt) {
        var stream = evt.stream;
        stream.stop();
        $('#agora_remote' + stream.getId()).remove();
        console.log("Remote stream is removed " + stream.getId());
      });

      client.on('peer-leave', function (evt) {
        var stream = evt.stream;
        if (stream) {
          stream.stop();
          $('#agora_remote' + stream.getId()).remove();
          console.log(evt.uid + " leaved from this channel");
        }
      });
    }

    function leave() {
      document.getElementById("leave").disabled = true;
      client.leave(function () {
        console.log("Leavel channel successfully");
      }, function (err) {
        console.log("Leave channel failed");
      });
    }

    function publish() {
      document.getElementById("publish").disabled = true;
      document.getElementById("unpublish").disabled = false;
      client.publish(localStream, function (err) {
        console.log("Publish local stream error: " + err);
      });
    }

    function unpublish() {
      document.getElementById("publish").disabled = false;
      document.getElementById("unpublish").disabled = true;
      client.unpublish(localStream, function (err) {
        console.log("Unpublish local stream failed" + err);
      });
    }

    function getDevices() {
      AgoraRTC.getDevices(function (devices) {
        for (var i = 0; i !== devices.length; ++i) {
          var device = devices[i];
          var option = document.createElement('option');
          option.value = device.deviceId;
          if (device.kind === 'audioinput') {
            option.text = device.label || 'microphone ' + (audioSelect.length + 1);
            audioSelect.appendChild(option);
          } else if (device.kind === 'videoinput') {
            option.text = device.label || 'camera ' + (videoSelect.length + 1);
            videoSelect.appendChild(option);
          } else {
            console.log('Some other kind of source/device: ', device);
          }
        }
      });
    }

    //audioSelect.onchange = getDevices;
    //videoSelect.onchange = getDevices;
    getDevices();
    </script>
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js"></script>
  </body>
</html>
